<!DOCTYPE html>
<html>
    <head>
        <title>Reflect'o Bus - boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"/>
        <link href="{{ url_for('static',filename='styles/mirror.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto">
    </head>
    <body style="text-align: center;">
      version: {{ data["version"][:7] }} <br/>
      lepilote API version: {{ data["rtm_version"][:7] }} <br/>
      Adresse IP : {{ data["local_ip"] }}:5000 <br/>
    </body>

    <script id="mainScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <style>
      :root {
        background-color:{{ data['background_color']}};
      }
    </style>
    <script>
      setTimeout(() => (document.location = '/horaires'), {{ data['boot_time'] }})
    </script>
    
</html>
