<!DOCTYPE html>
<html>
    <head>
        <title>Reflect'o Bus - config</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"/>
        <link href="{{ url_for('static',filename='styles/mobile.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/config.css') }}" rel="stylesheet">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto">
    </head>
    <body>

      <section id="main-config">
        Nombre d'horaires par catégorie: <input id="schedules_by_category"><br/>
        Nom de la catégorie par défaut: <input id="default_category">
      </section>

      <section id="schedules">
        <br/>
        <button onclick="userAddSchedule()">Ajouter un horaire</button>
        <button onclick="addCategory()">Ajouter une catégorie</button>
      </section>
      <br/>


      
    <section id="ADVANCED">
      <input class="toggle-inbox" id="_1" type="checkbox">
      <label class="label" for="_1">Voir les options avancées</label>
      <div id="details">
        Fréquence de rafraîchissement des horaires: <input id="refresh_time">(ms)<br/>

        Affichage des horaires en couleur: 
        <select id="pass_colors" onchange="linescolorChange()">
          <option value="True">Oui</option>
          <option value="False">Non</option>
        </select><br/>

        <div id="lines-color" style="display:none;">
          Couleur de l'affichage des horaires :
          <input id="lines_color">
        </div>

        <div id=background-settings>
          Type de fond d'écran 
          <select id="background_type" onchange="bgChange()">
            <option value="color">Couleur</option>
            <option value="image">Image</option>
          </select><br/>
          <span style="display:none;" id="background-color-span">
            Couleur de fond d'écran <input id="background_color"><br/>
          </span>
          <span style="display:none;" id="background-image-span">
            URL de l'image de fond <input id="background_url"><br/>
          </span>

        </div>
        Durée de l'écran de démarrage <input id="boot_time">(ms)<br/>
        Forme des horaires 
        <select id="shape">
          <option value="circle">circle</option>
          <option value="squircle">squircle</option>
          <option value="square">square</option>
        </select>
        <div>
          Cacher les noms de catégories:
          <select id="hide_category">
            <option value="True">Oui</option>
            <option value="False">Non</option>
          </select><br/>
          Taille d'affichage des horaires <input id="font_size"><br/>
        </div>
        <button onclick="getWifi()">Changer les paramètres sans fil</button>
        </div>
      </section>
      <button onclick="sendConfig()">Mettre à jour la configuration</button>
      <button onclick="window.location=window.location;">Récupérer la configuration actuelle</button>
    </body>

    <script id="mainScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script id="mainScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/config.js') }}"></script>
</html>
