<!DOCTYPE html>
<html>
    <head>
        <title>MagicMirror RTM - schedules</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/mirror.css') }}" rel="stylesheet">
    </head>
    <body>
      <section style="padding-left:5%;">
        {% for n in data['schedule'].keys() %}
        <div class="schedule" style="width:{{ 90 // data['schedule']|length }}%;">
            <h3>{{ n }}</h3>
            {% for schedules in data['schedule'][n] %}
              <div id="squircle" style="background-color: {{ schedules[0].color }};">
                <p>{{ schedules[0].PublicCode }}</p>
              </div>
              <span class="time {% if schedules[2] %}realtime{% endif %}">{{ schedules[1] }}min</span>
            {% endfor %}
        </div>
        {% endfor %}
        
      </section>
    </body>
    <style>
      :root {
        background-color:{{ data['background_color']}};
        {% if 'background_url' in data.keys() %}
          background-image:url({{ url_for('static',filename='walls/') }}{{ data['background_url'] }});
        {% endif %}
      }
      .realtime {
        background-image: url({{ url_for('static',filename="src/realtime.gif") }});
      }
    </style>
    <script id="mainScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script id="pageScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/horaires.js') }}"></script>
    <script>
      //setTimeout(() => (window.location=window.location), {{ data['refresh_time'] }})
    </script>
    
</html>
