<!DOCTYPE html>
<html>
    <head>
        <title>MagicMirror RTM - schedules</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='styles/mirror.css') }}" rel="stylesheet">
    </head>
    <body>
      <section>
        {% for n in data.keys() %}
        <div>
            <h3>{{ n }}</h3>
            {% for schedules in data[n] %}
              <div id="squircle" style="background-color: {{ schedules[0].color }};">
                <p>{{ schedules[0].PublicCode }}</p>
              </div>
              {{ schedules[1] }}min
            {% endfor %}
        </div>
        {% endfor %}
        
      </section>
    </body>

    
</html>
