<!DOCTYPE html>
<html>
    <head>
        <title>Reflect'o Bus</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto">
    </head>
    <body>
        <a href="/get-logs" download=""><button>Télécharger les logs du serveur</button></a><br/>
        <a href="/config"><button>Accéder au paramètres</button></a><br/>
        <button onclick="shutdown()">Eteindre le serveur</button><br/>
    </body>


<script id="mainScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
<script id="pageScript" language="JavaScript" type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>
</html>
