input {
    width: 10%;
}

.stop  { 
    width: 20%
}

.direction  { 
    width: 20%
}

.toggle-inbox {
    display: none;
}

.toggle-inbox ~ div#details {
    display: none;
    margin-bottom: 10px;
    clear: both;
}

.toggle-inbox:checked ~ div#details {
    display: block;
}

.label::after {
    background-color: white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    width: 10px;
    display: inline-block;
    height: 10px;
    transform: rotate(45deg);
    -webkit-transform: scale(1) rotate(45deg) translate(0px, 0px);
    -moz-transform: rotate(45deg) scale(1.0);
    -o-transform: rotate(45deg) scale(1.0);
    margin-top: 10px;
    content: "";
    margin-left: 5px;
}

.toggle-inbox:checked ~.label::after {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(-135deg);
    -webkit-transform: scale(1) rotate(-135deg) translate(0px, 0px);
    -moz-transform: rotate(-135deg) scale(1.0);
    -o-transform: rotate(-135deg) scale(1.0);
}

.label {
    font-size:0.9rem;
}

section {
    margin-top: 1%;
    margin-bottom: 1.5%;
}

:root {
    text-align: left;
    background-color: whitesmoke;
}