:root {
    color:#fff;
}

.realtime {
    background-size: 0.625rem;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 0.8125rem;
    display: inline-block;
    padding-right: 0.8125rem;
    background-image: url("/static/src/realtime.gif");
}

.time {
    font-size:1rem;
}